<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Tokenized Ballot App</h1>
    <div class="col-lg-6 mx-auto">
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        
        <button 
        type="button" 
        class="btn btn-danger btn-lg px-4 gap-3">
          Mint Token
        </button>
        
        <button 
        type="button" 
        class="btn btn-danger btn-lg px-4 gap-3">
          Vote
        </button>

        <button 
        type="button" 
        class="btn btn-danger btn-lg px-4 gap-3">
          Delegate
        </button>

        <button 
        type="button" 
        class="btn btn-danger btn-lg px-4 gap-3">
          View Results
        </button>


      </div>
    </div>
  </div>